body {
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

.container {
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  border: 1px solid lightgray;
  border-radius: 8px;
  -webkit-box-shadow: 10px 11px 8px 3px rgba(0, 0, 0, 0.76);
  box-shadow: 10px 11px 8px 3px rgba(184, 184, 184, 0.76);
}

.buttons--ssection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

.button {
  border: 1px solid rgb(114, 9, 9);
  border-radius: 50%;
  width: 70px;
  height: 45px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.btn {
  background-color: orange;
}

.button:hover {
  color: #b6b6b6;
}

.display--section {
  text-align: right;
  background-color: #a1a1a1;
  color: #fff;
  border: 1px solid lightgray;
  border-radius: 8px 8px 0 0;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
}
