body {
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

.calcspar {
  font-size: 20px;
  font-weight: bolder;
  margin-top: 60px;
  margin-left: 21px;
  color: antiquewhite;
}

.container {
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  border: 1px solid lightgray;
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 15px 5px #bb702a;
  box-shadow: 5px 5px 15px 5px #616060;
}

.buttons--section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

.button {
  border: 1px solid rgb(114, 9, 9);
  width: 70px;
  height: 45px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  color: #b6b6b6;
}

.button:nth-child(4),
.button:nth-child(8),
.button:nth-child(12),
.button:nth-child(16) {
  background-color: rgb(231, 141, 57);
}

.button:nth-child(17) {
  grid-column: 1/span 2;
  width: 140px;
}

.display--section {
  text-align: right;
  background-color: #a1a1a1;
  color: #fff;
  border: 1px solid lightgray;
  border-radius: 8px 8px 0 0;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
}
